

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;

}

[class*="col-"], footer {

    padding-top: 20px;
    line-height: 40px;
    text-align: center;
    color:white;
    font : bold 20px sans-serif;
}

img {
    width: 180px;
    height: auto;
}
.redflame {
    background-color: #EF562D;
}
.yellow {
    background-color: #F6D258;
}