/* début css carte du restaurant */
.menurestaurant .disclaimer {
    font:italic 10px sans-serif;
    color:yellow;

}


.menurestaurant .container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;

}

.menurestaurant .row2 [class*="col-"], footer {

    padding-top: 20px;
    line-height: 40px;
    text-align: center;
    color:white;
    font : bold 20px sans-serif;
}

.menurestaurant img {
    width: 180px;
    height: auto;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.menurestaurant .overlayleft {
    position: absolute;
    bottom: 0;
    left: 100%;
    right: 0;
    background-color: grey;
    overflow: hidden;
    width: 0;
    height: 100%;
    transition: .5s ease;
}

.menurestaurant [class*="col-"]:hover .overlayleft {
    width: 100%;
    left: 0;
}

.menurestaurant .overlayright {
    position: absolute;
    bottom: 0;
    right: 100%;
    left: 0;
    background-color: grey;
    overflow: hidden;
    width: 0;
    height: 100%;
    transition: .5s ease;
}

.menurestaurant [class*="col-"]:hover .overlayright {
    width: 100%;
    right: 0;
}

.menurestaurant .text {
    color: white;
    font-size: 10px;
    position: absolute;
    overflow: hidden;
    top: 30%;
    left: 30%;
    transform: translate(-30%, -30%);
    -ms-transform: translate(-30%, -30%);
}
.menurestaurant h3 {
    font-size: 10px;

}
.menurestaurant p {
    font-size:8px;
}


.menurestaurant .redflame {
    background-color: black;
}
.menurestaurant .yellow {
    background-color: darkgrey;
}

/* fin css carte du restaurant */

/* début css map contact */
.contactmap #foodora img {
    width: 240px;
    height: auto;
    opacity: 0.7;

}

.contactmap #foodora img:hover{
    opacity : 1;
}
.contactmap #foodora p {
    position: relative;
    bottom: 20px;
    left: 80px;
    color:white;
    font-size: 1em;
}

.contactmap #foodora:hover p{
    position: relative;
    bottom: 20px;
    left: 70px;
    color:white;
    font-size: 1em;
    font-weight: bold;
}

.contactmap .row1 [class*="col-"], footer {

    padding-top: 20px;
    line-height: 40px;
    color: black;
    font: 15px sans-serif;
}

.contactmap h4 {
    font-size: 15px;
    text-align: center;
}

.contactmap .horaires {
    font-size: 0.8em;
    text-align: center;
}

/* fin css map contact */

/* debut css certificats */


.certificat .container-fluid .fries {
    position: absolute;
    bottom: 75px;
    left: 115px;
    color: red;
    font: bold 2em sans-serif;
    text-shadow: 2px 2px 0 white;
    text-align: center;
    line-height: 80px;
}

.certificat .container-fluid .norelief {
    position: absolute;
    bottom: 135px;
    left: 128px;
    color: white;
    font: bold 2em sans-serif;
    text-align: center;
}

.certificat .container-fluid .bread {
    position: absolute;
    bottom: 130px;
    left: 75px;
    color: white;
    font: bold 1.4em sans-serif;
    text-align: center;
    background-color: black;
    padding: 20px 10px 20px;
    border-radius: 5px;
}

.certificat .container-fluid .stars {
    position: absolute;
    bottom: 80px;
    left: 110px;
    color: white;
    font: bold 2.5em sans-serif;
    text-align: center;
    padding: 20px 10px 20px;

}

.certificat .container-fluid .vbf {
    position: absolute;
    bottom: 170px;
    left: 90px;
    color: white;
    font: bold 2em sans-serif;
    text-align: center;
    padding: 20px 10px 20px;

}

.certificat .container-fluid .boeuf {
    position: absolute;
    bottom: 60px;
    left: 70px;
    color: white;
    font: bold 2em sans-serif;
    text-align: center;
    padding: 20px 10px 20px;

}





/*fin css certificats */

/* début pied de page */

.foot .row3 [class*="col-"], footer {
    padding-top: 10px;
    line-height: 15px;
    text-align: center;
    font : bold 0.8em sans-serif;
    color: white;
    background-color: black;
}

/* fin pied de page */